#flickr_badge_wrapper {
	background: transparent !important;
	border: 0 none !important;
}
#flickr_badge_uber_wrapper,
#flickr_badge_uber_wrapper td,
#flickr_badge_uber_wrapper tr:hover td {
	background: transparent;
	margin: 0 auto;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	color: #fff !important;
}
.widget_recent_comments td {
	padding: .8em 5px 1em 5px;
	vertical-align: top;
}
.widget_authors ul,
.widget_author_grid ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget_authors img {
	vertical-align: middle;
}
.widget_authors li {
	margin-bottom: .8em;
}#no-nsa-ribbon a {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	z-index: 99000;
	color: #eee;
	background: #262626;
	padding: 0 10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
	letter-spacing: .1em;
	text-decoration: none;
}

#no-nsa-ribbon a:hover {
	color: #fff;
	background: #333;
}

#no-nsa-ribbon a:hover span {
	color: #aaa;
}

#no-nsa-ribbon span {
	margin-left: 2em;
	color: #888;
}

@media (max-width: 640px) {
	#no-nsa-ribbon span {
		margin-left: 0;
	}
	#no-nsa-ribbon a {
		line-height: 30px;
		padding: 10px 0;
		letter-spacing: 0;
	}
	#no-nsa-ribbon a span {
		display: block;
	}
}

@media (max-height: 250px) {
	#no-nsa-ribbon a {
		line-height: 20px;
		padding: 3px 0;
		letter-spacing: 0;
	}
	#no-nsa-ribbon a span {
		display: none;
	}
}/**
 * Post Reblogging not in the Reader
 */


.reblogger-note img.avatar {
	float: left;
	padding: 0;
	border: 0;
}

.reblogger-note-content {
	margin: 0 0 20px;
}

.wpcom-reblog-snapshot .reblog-from img {
	margin: 0 .5em 0 0;
	padding: 0;
	border: 0;
}

.wpcom-reblog-snapshot .reblogger-note img.avatar {
	float: left;
	padding: 0;
	border: 0;
	margin: 0 .5em 0 0;
}

.wpcom-reblog-snapshot {
	margin-bottom: 1em;
}

.wpcom-reblog-snapshot p.reblog-from {
	margin: 0 0 1em 0;
}

.wpcom-reblog-snapshot p.reblogger-headline {
	line-height: 32px;
	margin: 0 0 1em 0;
}

.wpcom-reblog-snapshot .reblogged-content {
	margin: 0 0 1em 0;
}


/* Old reblog styles */
.reblog-post .wpcom-enhanced-excerpt-content {border-left: 3px solid #eee; padding-left: 15px; }
.reblog-post ul.thumb-list         { display: block; list-style: none; margin: 2px 0; padding: 0; clear: both; }
.reblog-post ul.thumb-list li      { display: inline; margin: 0; padding: 0 1px; border: 0; }
.reblog-post ul.thumb-list li a    { margin: 0; padding: 0; border: 0; }
.reblog-post ul.thumb-list li img  { margin: 0; padding: 0; border: 0; }

.reblog-post .wpcom-enhanced-excerpt { clear: both; }

.reblog-post .wpcom-enhanced-excerpt address,
.reblog-post .wpcom-enhanced-excerpt li,
.reblog-post .wpcom-enhanced-excerpt h1,
.reblog-post .wpcom-enhanced-excerpt h2,
.reblog-post .wpcom-enhanced-excerpt h3,
.reblog-post .wpcom-enhanced-excerpt h4,
.reblog-post .wpcom-enhanced-excerpt h5,
.reblog-post .wpcom-enhanced-excerpt h6,
.reblog-post .wpcom-enhanced-excerpt p { font-size: 100% !important; }

.reblog-post .wpcom-enhanced-excerpt blockquote,
.reblog-post .wpcom-enhanced-excerpt pre,
.reblog-post .wpcom-enhanced-excerpt code,
.reblog-post .wpcom-enhanced-excerpt q { font-size: 98% !important; }


/* Reblogged post */
.reblog-from img {
	margin: 0 10px 0 0;
	vertical-align: middle;
	padding: 0;
	border: 0;
}

.reblog-source {
	font-weight: bold;
}

/* Optional notes */
.wpcom-reblog-snapshot .reblogger-note {
	border-bottom: 1px solid #ddd;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 0 0 1em 0;
	padding: 0 0 1em 0;
	overflow: hidden;
}

.wpcom-reblog-snapshot p.reblogger-headline {
	line-height: 32px;
	margin: 0 0 1em 0;
}

.wpcom-reblog-snapshot .reblogger-note-content {
	margin: 0;
	padding: 0;
}

body .wpcom-reblog-snapshot .reblogger-note-content blockquote {
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	margin: 0;
	padding: 0;
	position: relative;
	border: none;
}

.wpcom-reblog-snapshot .reblogger-note-content blockquote p:last-child {
	margin-bottom: 0;
}
/*
	Global styles for WordPress.com
*/
img.latex {
	border: none;
	vertical-align: middle;
}
.video-player {
	border: 0;
	margin: auto;
	padding: 5px;
	text-align: center;
}
.wpvidavee_title {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	padding: 2px 5px;
	text-align: left;
}
.wpvidavee_footer {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 9px;
	line-height: 11px;
	padding: 2px 5px;
	text-align: right;
}
.wpvidavee_footer a {
	text-decoration: none;
}
.wpvidavee_p {
	color: red;
}
.hidden {
	display: none;
}
.possibly-related {
	clear: both;
}
.screen-reader-text {
	position: absolute;
	left: -1000em;
}
.comment object,
.comment embed,
.embed-vimeo iframe,
.embed-youtube iframe {
	max-width: 100%; /* avoid videos being too wide */
}

/**
 * Simple Homepage Experiment
 */

.simple-homepage-experiment #header,
.simple-homepage-experiment #footer,
.simple-homepage-experiment #landingpage {
	display: none !important;
}
.simple-homepage-experiment .simple-homepage {
	display: block !important;
}

.simple-homepage-experiment .simple-homepage {
	background: #f5f5f5;
}

/**
 * Typography
 */

.simple-homepage-experiment body,
.simple-homepage-experiment td,
.simple-homepage-experiment p,
.simple-homepage-experiment div,
.simple-homepage-experiment input,
.simple-homepage-experiment label {
	font-family: "Open Sans", "Helvetica", sans-serif !important;
	font-size: 14px;
	line-height: 1.5;
	outline: none;
}

.simple-homepage-experiment input[type=checkbox] {
	margin: 0;
}

.simple-homepage-experiment h2,
.simple-homepage-experiment h3 {
	text-align: center;
}

.simple-homepage-experiment h2 {
	font-family: "Open Sans", "Helvetica", sans-serif !important;
	font-size: 18px !important;
	color: #464646;

	margin-bottom: 16px;
}

.simple-homepage-experiment h3 {
	color: #898989;
	font-size: 14px !important;
	text-transform: none !important;
	letter-spacing: 0 !important;
}

.simple-homepage-experiment a {
	color: #1e8cbe;
	text-decoration: none;
}

.simple-homepage-experiment a:hover {
	color: #005684;
}

/**
 * Layout
 */

body.simple-homepage-experiment {
	background: #f1f1f1;
}

body.simple-homepage-experiment#h4home #lang-guess {
	margin-top: 85px;
	padding: 15px;

	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.simple-homepage {
	display: none;
}

body.simple-homepage-experiment .simple-homepage {
	display: block;
}

.simple-homepage-experiment h1 {
	margin: 50px auto 50px auto;
	padding-left: 85px;
	height: 75px;
	width: 305px;
	color: #737373;

	font-size: 43px !important;
	font-weight: 100;
	line-height: 75px;
	text-shadow: 0 1px 0 #fff;

	background: transparent url(http://s1.wp.com/wp-content/themes/h4/i/simple-homepage/wp-logo-1x.png) no-repeat !important;
}

.simple-homepage-experiment .content {
	max-width: 910px;
	margin: auto;
}

.simple-homepage-experiment .box {
	background: #fff;
	width: 43.4065934%;
	height: 280px;
	padding: 35px;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	-moz-box-shadow:    0px 2px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	box-shadow:         0px 2px 3px rgba(0,0,0,0.2);
}

.simple-homepage-experiment .box:hover {
	-moz-box-shadow:    0px 2px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	box-shadow:         0px 2px 5px rgba(0,0,0,0.3);

}

.simple-homepage-experiment .or {
	width: 45px;
	height: 45px;
	margin: 100px 20px;

	float: left;

	color: rgba( 0, 0, 0, 0.2);
	text-shadow: 0 1px 1px #f1f1f1, 0 0 0 #aaa,
				 0 4px 1px #f1f1f1;

	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;

	border-radius: 50%;
	border: 8px rgba( 0, 0, 0, 0.1 ) solid;
}

.simple-homepage-experiment .sign-up {
	text-align: center;
}

.simple-homepage-experiment .big-ass-blue-button {
	margin: 20px auto;
	padding: 12px 40px;

	display: inline-block;

	color: #fff !important;
	font-size: 24px;
	text-decoration: none;
	text-shadow:  0px -1px 1px rgba(0,0,0,0.32);

	border-radius: 4px;

	background-color: #0aa1ce;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(10, 161, 206)), to(rgb(0, 136, 181)));
	background-image: -webkit-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -moz-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -o-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -ms-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0aa1ce', EndColorStr='#0088b5');

	border: 1px solid #0088b5;

	box-shadow:	inset 0px 1px 1px rgba(255,254,254,0.5),
				0 1px 1px rgba(0,0,0,0.3);
}

.simple-homepage-experiment .big-ass-blue-button:hover {
	color: #fff;

	background-color: #4eb5d5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(78, 181, 213)), to(rgb(0, 136, 181)));
	background-image: -webkit-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -moz-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -o-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -ms-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4eb5d5', EndColorStr='#0088b5');
}

.simple-homepage-experiment .big-ass-blue-button:active {
	background: #0aa1ce;
	box-shadow:	inset 0px -1px 1px rgba(255,254,254,0.2);
}

.simple-homepage-experiment .login input[type=text],
.simple-homepage-experiment .login input[type=password] {
	display: block;
	width: 90%;
	margin: 0 0 10px 0;
	padding: 10px 15px 10px 35px;

	color: #898989;
	font-size: 14px;
	font-weight: 200;

	border-radius: 3px;

	background: #FCFCFC url(http://s1.wp.com/wp-content/themes/h4/i/simple-homepage/login-sprite-1x.png) no-repeat;

	border: 1px solid #BFBFBF;

	-moz-box-shadow:    inset 0px 1px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.15);
	box-shadow:         inset 0px 1px 3px rgba(0,0,0,0.15);
}

.simple-homepage-experiment .login input:focus {
	background: #fff url(http://s1.wp.com/wp-content/themes/h4/i/simple-homepage/login-sprite-1x.png) no-repeat;
	color: #444;
	border: 1px #aaa solid;
}

.simple-homepage-experiment .login input[type=text] {
	background-position: -3px -3px;
}

.simple-homepage-experiment .login input[type=password] {
	background-position: -3px -57px;
}

.simple-homepage-experiment#h4home #wrapper button.login-button {
	float: right !important;
	padding: 5px 20px !important;
	margin: 20px 0 !important;
	border-radius: 3px !important;
	border: 1px #bbb solid !important;

	color: #464646 !important;
	font-size: 15px !important;
	line-height: 1.6 !important;
	text-transform: none !important;
	letter-spacing: 0 !important;

	text-shadow:         0px 1px 1px #fff !important;
	box-shadow:	inset 0px 1px 1px rgba(255,254,254,0.8),
				0 1px 2px rgba(0,0,0,0.1)  !important;

	background-color: #eaeaea !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 234, 234)), to(rgb(201, 201, 201))) !important;
	background-image: -webkit-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -moz-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -o-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -ms-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eaeaea', EndColorStr='#c9c9c9')  !important;
}

.simple-homepage-experiment#h4home #wrapper .login-button:hover {
	background-color: #fcfcfc !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 252, 252)), to(rgb(202, 202, 202))) !important;
	background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -o-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -ms-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfcfc', EndColorStr='#cacaca') !important;
}

.simple-homepage-experiment#h4home #wrapper .login-button:active {
	background: #eaeaea  !important;
	box-shadow: 0 -1px 1px rgba(255,255,255,0.8)  !important;
}

.simple-homepage-experiment .forgot-password {
	display: block;
	margin: 17px 0 4px 0;

	float: left;
	clear: left;

	font-size: 12px;
}

.simple-homepage-experiment .remember-me {
	float: left;
	clear: left;
	margin: 0;
}

.simple-homepage-experiment .remember-me label {
	font-size: 12px;
	color: #1e8cbe;
}

.simple-homepage-experiment .remember-me label:hover {
	color: #005684;
}

.simple-homepage-experiment .footer {
	position: fixed;
		bottom: 20px;
		right: 0;
		left: 0;
	color: #898989;

	font-size: 11px;
	clear: both;
	text-align: center;
}

.simple-homepage-experiment .footer .automattic {
	margin: 0 3px;
	width: 127px;
	height: 13px;

	background: url(http://s1.wp.com/wp-content/themes/h4/i/simple-homepage/automattic-1x.png) no-repeat;
	text-indent: -999999px;
	display: inline-block;
	vertical-align: text-bottom;
}

.simple-homepage-experiment .clear {
	clear: both;
}

/**
 * Retina CSS
 */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {

	.simple-homepage-experiment h1 {
		background: transparent url(http://s1.wp.com/wp-content/themes/h4/i/simple-homepage/wp-logo-2x.png) no-repeat !important;
		background-size: 74px 74px;
	}

	.simple-homepage-experiment .footer .automattic {
		background: url(http://s1.wp.com/wp-content/themes/h4/i/simple-homepage/automattic-2x.png) no-repeat;
		background-size: 127px 11px;
	}

	.simple-homepage-experiment .login input[type=text],
	.simple-homepage-experiment .login input[type=password] {
		background: #FCFCFC url(http://s1.wp.com/wp-content/themes/h4/i/simple-homepage/login-sprite-2x.png) no-repeat;
		background-size: 40px 96px;
	}

	.simple-homepage-experiment .login input:focus {
		background: #fff url(http://s1.wp.com/wp-content/themes/h4/i/simple-homepage/login-sprite-2x.png) no-repeat;
		background-size: 40px 96px;
	}

}

/**
 * Responsive CSS
 */

@media screen and (max-width: 800px) {

	.simple-homepage-experiment .or {
		clear: both;
		float: none;
		margin: 20px auto;
	}

	.simple-homepage-experiment .box {
		clear: both;
		margin: auto 20px;
		float: none;
		width: auto;
	}

	.simple-homepage-experiment .login {
		margin-bottom: 30px;
	}

	.simple-homepage-experiment .footer {
		position: relative;
		padding-top: 30px;
	}
}

@media screen and (max-height: 580px) {

	.simple-homepage-experiment .footer {
		position: relative;
		padding-top: 30px;
		margin-top: 50px;
	}
}div[class^="gr_custom_container"] {
	/* customize your Goodreads widget container here*/
	border: 1px solid gray;
	border-radius:10px;
	padding: 10px 5px 10px 5px;
	background-color: #FFF;
	color: #000;
}

div[class^="gr_custom_container"] a {
	color: #000;
}

h2[class^="gr_custom_header"] {
	/* customize your Goodreads header here*/
	display: none;
}
div[class^="gr_custom_each_container"] {
	/* customize each individual book container here */
	width: 100%;
	clear: both;
	margin-bottom: 10px;
	overflow: auto;
	padding-bottom: 4px;
	border-bottom: 1px solid #aaa;
}
div[class^="gr_custom_book_container"] {
	/* customize your book covers here */
	float: right;
	overflow: hidden;
	height: 60px;
	margin-left: 4px;
	width: 39px;
}
div[class^="gr_custom_author"] {
	/* customize your author names here */
	font-size: 10px;
}
div[class^="gr_custom_tags"] {
	/* customize your tags here */
	font-size: 10px;
	color: gray;
}
div[class^="gr_custom_review"] {
}
div[class^="gr_custom_rating"] {
	display: none;
}
